<div class="view-area" ng-app="workoutApp" ng-controller="workoutController">

	<div class="col-md-12">
		
	</div>

	<div class="col-md-12">
		<div ng-repeat="x in carrotCake" class="workoutDayBox">
			<h2 class="workoutDayTitle">{{x.day}}</h2>
			<div ng-repeat="y in x.workouts" class="workoutDayDetails clearfix">
				<img src="images/imageNotAvailable.jpg" class="workoutImage pull-left">
				<div class="workoutName">{{y.name}}</div>
				<div class="workoutDescription">{{y.description}}</div>
				<div class="workoutReps">{{y.reps}}</div>
			</div>
		</div>
	</div>

</div>